extends layout

block content
  #header
    h1= title
  #container
    h2#header-name Name: 
      input(type="text" id="input-name")
    h2#header-task Task: 
      input(type="text" id="input-task")
    button(type="button" id="submit-data") Submit
    i#display-res
