body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.nav-wrapper {
  padding-left: 5px;
}


.label-icon.active {
  .material-icons {
    visibility: hidden;
  }
}

#checkbox-container {
  border: 2px solid black;
  padding: 5px;
}