extends layout

block content
  <nav>
    <div class="nav-wrapper">
      a.brand-logo.left=title 
      <div class="right">
        <input id="search" type="search" class="white" placeholder="Search">
      </div>
    </div>
  </nav>
  .container
    #recipe-container.col
      h2 Recipe:
      h3 Name
      p#recipe-name 
      h3 Instructions
      p#recipe-instructions 
      h3 Ingredients 
      p#recipe-ingredients 
      hr
    #add-container.col
      h2 Add recipe:
      <h4>Name</h4>
      <input type="text" id="name-text">
      <h4>Ingredients</h4>
      <textarea id="ingredients-text"></textarea>
      <button id="add-ingredient" type="button" class="btn">Add ingredient</button>
      <h4>instructions</h4>
      <textarea id="instructions-text"></textarea>
      <button id="add-instruction" type="button" class="btn">Add instruction</button>
      br
      input(type="file" name="images" id="image-input" accept="image/*" class="file-field input-field" multiple)
      
      <form action="#" id="checkbox-container">
        label(for="checkbox-container") Categories:
      </form>
      
      br
      <button form="" id="submit" type="submit" class="btn">Submit</button>
